body{
  background-color:#f3f3f3;
  font-family:'Raleway', sans-serif
}
.App{
  text-align: center;
  height:100vh;
}
.btn, button{
  padding:5pt;
  background-color:#029dd8;
  font-size:12pt;
  border:none;
  margin:5pt;
  border-radius:5pt;
  color:white;
  font-family:'Source sans pro', sans serif;
  font-weight:bold;
}
#user-box{
  background-color:#111111;
  float:left;
  height:75vh;
  margin-left:10pt;
  border-radius:10pt;
  width:20%;
}
#user-box p {
  font-weight:bold;
  font-size:16pt;
  padding-top:10pt;
  color:white;
}
form{
  margin-bottom:100pt;
}
/* #message-input{
} */
#wall{
  list-style:none;
}
.post{
  padding:10pt;
  border-radius:10px;
  margin:300px;
  margin-top:20px;
  margin-bottom:20px;
  background-color:#252525;
  color:white;
  font-family:'Source sans pro', sans serif;
  font-size:14pt;
}
.poster{
  color:#35c6ea;
  font-size:12pt;
}
.delete-post{
  margin-bottom:10pt;
}