body{
  /* background-color:#ff7900; */
  background-color:#f8edeb;
  font-family:"Montserrat Alternates", sans serif;
}
.App{
  text-align: center;
  height:100vh;
}
h1{
  font-family:Shizuru;
}
.btn, button{
  padding:5pt;
  /* background-color:#5a189a; */
  background-color:#fcd5ce;
  font-family:"Montserrat Alternates";
  font-size:12pt;
  border:none;
  margin:5pt;
  border-radius:5pt;
  color:black;
}
#user-box{
  /* background-color:#ff9e00; */
  background-color:#ffb5a7;
  float:left;
  height:75vh;
  margin-left:10pt;
  border-radius:10pt;
  width:20%;
}
#user-box p {
  font-weight:bold;
  font-size:16pt;
  padding-top:10pt;
}
form{
  margin-bottom:100pt;
}
/* #message-input{
} */
#wall{
  list-style:none;
}
.post{
  /* border:black solid 1px; */
  padding:10pt;
  border-radius:10px;
  margin:300px;
  margin-top:20px;
  margin-bottom:20px;
  /* background-color:#240046; */
  /* background-color:#fc7753; */
  background-color:#fcd5ce;
  color:black;
}
.poster{
  color:black;
  font-size:10pt;
}
.delete-post{
  margin-bottom:10pt;
}