body{
  height:100vh;
  background-color:#f3f3f3;
}
.App{
  height:100%;
  min-height:100vh;
  text-align: center;
}
#home{
  min-height:100%;
}
h1{
  font-family:'Source sans pro', sans serif;
  text-transform:uppercase;
  font-weight:bold;
  color:#029dd8;
}
.btn, button, a{
  padding:5pt;
  background-color:#029dd8;
  font-size:12pt;
  border:none;
  margin:5pt;
  border-radius:5pt;
  color:white;
  font-family:'Source sans pro', sans serif;
  font-weight:bold;
  text-transform:uppercase;
  text-decoration:none;
}
.btn:hover, button:hover, a:hover{
  color:#029dd8;
  background-color:white;
}
#user-box{
  background-color:#111111;
  float:left;
  height:75vh;
  margin-left:10pt;
  border-radius:10pt;
  width:20%;
}
#user-box p {
  font-weight:bold;
  font-size:16pt;
  padding-top:10pt;
  color:white;
  font-family:'Raleway', sans-serif;
}
form{
  margin-bottom:100pt;
}
#message-input{
  padding:10px;
  border-radius:5pt;
  font-family:'Raleway', sans serif;
  height:50pt;
  margin-bottom:10pt;
}
#wall{
  list-style:none;
}
.post{
  padding:10pt;
  border-radius:10px;
  margin:300px;
  margin-top:20px;
  margin-bottom:20px;
  background-color:#252525;
  color:white;
  font-family:'Source sans pro', sans serif;
  font-size:14pt;
}
.poster{
  color:#35c6ea;
  font-size:12pt;
}
.delete-post{
  margin-bottom:10pt;
}
.login-auth{
  background-color:#252525;
  margin:0;
  padding:0;
}
.login-auth-holder{
  background-color:#252525;
  height:100vh;
  color:white;
  font-family:'Source sans pro', sans serif;
  font-size:16pt;
  font-weight:bold;
}
input[type=text]{
  margin:10pt;
  padding:5pt;
  border-radius:5pt;
  border:none;
  font-family:'Raleway', sans serif
}